<p id="notice"><%= notice %></p>

<h1>Bookitems</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookitems.each do |bookitem| %>
      <tr>
        <td><%= bookitem.title %></td>
        <td><%= bookitem.author %></td>
        <td><%= bookitem.description %></td>
        <td><%= link_to 'Show', bookitem %></td>
        <td><%= link_to 'Edit', edit_bookitem_path(bookitem) %></td>
        <td><%= link_to 'Destroy', bookitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookitem', new_bookitem_path %>
